@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .ql-editor {
    @apply min-h-20 max-h-40 overflow-y-auto
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-tailwindcss,
  .no-tailwindcss * {
    all: revert;
  }
}

@media print and (color) {
	* {
		print-color-adjust: exact;
		-webkit-print-color-adjust: exact;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 { 
    break-after: avoid; 
    break-inside: avoid;
  }
  ul, ol, dl { break-before: avoid; }
  section {
    break-before: auto;
    break-after: auto;
  }
}

