@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .ql-editor {
    @apply min-h-20 max-h-40 overflow-y-auto
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-tailwindcss,
  .no-tailwindcss * {
    all: revert;
  }
}
